* {
  font-size: 20px;
}

.container2 {
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  color: #03256C;
}

.form {
  display: flex;
  margin: 10%;
  width: 80%;
  flex-direction: column;
  gap: 30px;
}

.container {
  display: flex;
  margin: 3%;
  width: 94%;
  cursor: default;
  color: white;
  justify-content: center;
}

button:hover {
  background-color: #021b4f;
}

button {
  background-color: #03256C;
  color: white;
  font-size: 20px;
  border-style: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: gray;
}



